<!DOCTYPE html>
<html>
    <head>
        <title>Select First</title>
        <link rel="stylesheet" href="schedule.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
      <nav class = "navbar navbar-default">
          <div class = "container-fluid">
            <div class = "navbar-header">
                <a class = "navbar-brand" href = "/">SelectFirst</a>
            </div>
            <div class = "collapse navbar-collapse">
              <ul class = "nav navbar-nav navbar-right">

                  <% if(user) { %>
                      <form action='/signout' method='POST' ></form>
                      <li><a href = "/loginPage">Sign Out</a></li>
                  <% } else { %>
                      <li><a href = "/loginPage">Login</a></li>
                  <% } %>


                <li><a name = "/View" href = "/results/shoppingcart">View Shopping Cart</a></li>
              </ul>
            </div>
          </div>
        </nav>
