<nav class = "navbar navbar-default">
    <div class = "container-fluid">
      <div class = "navbar-header">
          <a class = "navbar-brand" href = "/">SelectFirst</a>
      </div>
      <div class = "collapse navbar-collapse">
        <ul class = "nav navbar-nav navbar-right">
          <li>
            <form action='/signout' method='POST'>
                <li><button type="submit" name="button" style = "border: none; margin-top:14px; background: inherit; color: grey;">Sign Out</button></li>
            </form>
          </li>
          <li>
            <a name = "/View" href = "/results/shoppingcart">
              View Enrolled Courses
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
