<% include partials/header %>
<form action='/logincheck' method='POST'>
  <div class="container">
    <div class = "row">
      <h1 style = "text-align:center">Welcome to SelectFirst</h1>
      <div style = "width: 30%; margin: 0 auto;">
        <div class = "input-group">
          <label for="usname"><strong>Username</strong></label>
          <input type="text" placeholder="Enter Username" name="usname" required>
        </div>
        <div class = "input-group">
          <label for="psw"><strong>Password</strong></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div class = "input-group">
          <button class = "btn btn-large btn-primary" style = "width:65%;" type="submit">Login</button>
          <br>
        </div>
      </div>
    </div>
  </div>
</form>
<% include partials/footer %>
