<% include partials/header %>
<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
          <h1 style = "text-align: center">Your Shopping Cart</h1>
        </div>
    </header>
</div>

<div class = "row text-center">
  <% ShoppingCart.forEach(function(cart){ %>
    <div class = "col-md-3 col-sm-6">
        <li class="list-group-item"><%= cart %></li>
    </div>
  <% }); %>
</div>

<% include partials/footer %>
